<a href="https://colab.research.google.com/github/kotiksrex/Numpy-and-Pandas/blob/main/Numpy_and_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
#создаем массив, проверяем размер (количество элементов)
a = np.array ([[1, 6],
               [2, 8],
               [3, 11],
               [3, 10],
               [1, 7]])
print(a.size)

10

In [ ]:
#находим среднее по столбцам и записываем результат в новый массив
mean_a = a.mean(axis = 0)
print (mean_a)

[2.  8.4]

In [ ]:
#вычитаем среднее по столбцам
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [ ]:
#транспонируем массив для дальнейшего создания векторов
a_centered_t=a_centered.T
a_centered_t

array([[-1. ,  0. ,  1. ,  1. , -1. ],
       [-2.4, -0.4,  2.6,  1.6, -1.4]])

In [ ]:
#подготовливаем 2 вектора из полученного массива с помощью срезов для вычисления скалярного произведения
c = a_centered_t[0, :].copy()
b = a_centered_t[1:,:].copy()
print(c)
print(b)

[-1.  0.  1.  1. -1.]
[[-2.4 -0.4  2.6  1.6 -1.4]]

In [ ]:
#вычисляем скалярное произведение
a_centered_sp_=np.inner(c, b)
print(a_centered_sp_)

[8.]

In [ ]:
#ручная проверка: создаем векторы и вычисляем скалярное произведение
d = [-1, 0, 1, 1, -1]
f = [-2.4, -0.4, 2.6, 1.6, -1.4]
a_centered_sp = np.inner(d, f)
print(a_centered_sp)

8.0

In [ ]:
#находим ковариацию с помощью деления скалярное произведения на количество наблюдений-1 (N-1=4)
cov = a_centered_sp / 4
print(cov)

2.0

**cov- несмещенная оценка ковариации**

In [ ]:
#получаем  m -транспонированный массив a с помощью атрибута .Т и далее используем функцию cov для расчета ковариации (в качестве аргумента передаем m)
m = a.T
m_cov = np.cov(m)
print(m)
print(m_cov)
print(m_cov[0, 1])

[[ 1  2  3  3  1]
 [ 6  8 11 10  7]]
[[1.  2. ]
 [2.  4.3]]
2

### Работа с данными в Pandas

In [3]:
import pandas as pd

In [4]:
df_authors = pd.DataFrame({'author_id':[1, 2, 3],
                           'author_name':['Тургенев','Чехов', 'Островский']}, columns=['author_id', 'author_name'])

In [5]:
df_authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [6]:
df_book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                        'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                        'price':[450, 300, 350, 500, 450, 370,290]}, columns=['author_id', 'book_title', 'price'])

In [7]:
df_book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [8]:
#используем функцию merge для слияния 2-х подготовленных df - внешнее слияние (how='outer') с индексацией по автору 
df_authors_price = pd.merge(df_authors, df_book, on='author_id', how='outer')

In [9]:
df_authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [10]:
#создаем df top5 с выводом строк из author_price с 5-тью самыми дорогими книгами с помощью метода .nlargest
df_top5=df_authors_price.nlargest(5, 'price')

In [11]:
df_top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [12]:
# группируем данные для рассчета основных статистик по ценам книг для каждого автора, используя .groupy  и .agg
authors_stat=df_authors_price.groupby('author_name').agg({'price':['max', 'min', 'mean']})

In [13]:
authors_stat

            price
              max  min        mean
author_name
Островский    370  290  330.000000
Тургенев      450  300  366.666667
Чехов         500  450  475.000000

In [14]:
#используем функцию map и метод .join для объединения строк. Переименовываем столбцы со статистиками, согласно заданию. 
#Сбрасываем индексацию и назначаем новую по автору
authors_stat.columns = authors_stat.columns.map('_'.join)
authors_stat = authors_stat.rename(columns={'max':'max_price', 'min':'min_price', 'mean':'mean_price'})
authors_stat = authors_stat.reset_index()
authors_stat.set_index('author_name', inplace=True)

#authors_stat.columns = authors_stat.columns.get_level_values(0)- не сработало почему-то???
authors_stat

             price_max  price_min  price_mean
author_name
Островский         370        290  330.000000
Тургенев           450        300  366.666667
Чехов              500        450  475.000000

##Задание 5. Работа с pd.pivot_table

In [15]:
#создаем новый столбец cover и заполняем его  списком типов обложек
df_authors_price.insert(3, 'cover', ['твердая', 'мягкая', 'мягкая', 'твердая','твердая', 'мягкая', 'мягкая'], False)
df_authors_price

   author_id author_name            book_title    cover  price
0          1    Тургенев           Отцы и дети  твердая    450
1          1    Тургенев                 Рудин   мягкая    300
2          1    Тургенев     Дворянское гнездо   мягкая    350
3          2       Чехов      Толстый и тонкий  твердая    500
4          2       Чехов       Дама с собачкой  твердая    450
5          3  Островский                 Гроза   мягкая    370
6          3  Островский  Таланты и поклонники   мягкая    290

In [17]:
#присваиваем новое имя файлу, в котором рассчитавыем суммарную стоимость книг в твердой и мягкой обложках по каждому автору, пропуски заполняем нулями
book_info = pd.pivot_table(data= df_authors_price,
               values='price',
               index='author_name',
               columns='cover',
               aggfunc='sum',
               fill_value=0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [18]:
#сохраняем файл в формате pickle и читаем его, присваивая новое имя, проверяе идентичность файлов book_info и book_info2
book_info.to_pickle('book_info.pkl')
book_info2=pd.read_pickle('book_info.pkl')
book_info2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950